
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
      {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
      <ul>
          {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
      </ul>
  
      {% endif %}
      {% endwith %}
    {% block content %}
    {% endblock %}
  </body>
</html>