
    {% extends "base.html" %}
    {% block title %}
    Login
    {% endblock %}

    {% block content %}

    <h1>Iniciar Sesion</h1>
    <form  method= "post" action="{{ url_for('login') }}">
        <p><input type="text" name="username"></p>
        <p><input type="password" name="password"></p>
        <input type="submit" value="Login">
    </form>

    {% endblock %}
    
