
    {% extends "base.html" %}
    {% block title %}
    Home
    {% endblock %}

    {% block content %}
    <h1>Bienvenido</h1>
    <form  method= "get" action="{{ url_for('search') }}">
        <p><input type="text" name="nickname"></p>
        <input type="submit" value="Search">
    </form>

    {% endblock %}
    
