
    {% extends "base.html" %}
    {% block title %}
    Home
    {% endblock %}

    {% block content %}
    <h1>Registro</h1>
    <form  method= "post" action="{{ url_for('signup') }}">
        <p><input type="text" name="username"></p>
        <p><input type="password" name="password"></p>
        <input type="submit" value="Sign Up">
    </form>

    {% endblock %}
    
